.logo_flag {
  background-color: maroon;
  color: white;
  width: 250px;
  display: inline-block;
}

.name {
  font-family: sans-serif;
  font-size: 9pt;
  color: gray;
}

.hero {

}

img {
  width: 100%;
  height: auto;
  margin: auto;
}

h1 {
  padding-left: 180px;
}

p {
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
  line-height: 12pt;
  width: 250px;
  margin: auto;
}

a {
  margin: auto;
  display: inline-block;
}

.email {
  background-color: gray;
  font-family: arial, helvetica, sans-serif;
  color: white;
  text-decoration: none;
  padding: 20px 133px 20px 133px;
}

.twitter {
  background-color: #5bd8ff;
  font-family: arial, helvetica, sans-serif;
  color: white;
  text-decoration: none;
  padding: 20px 49px 20px 49px;

}

.dribbble {
  background-color: pink;
  font-family: arial, helvetica, sans-serif;
  color: white;
  text-decoration: none;
  padding: 20px 49px 20px 49px;

}




